@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.85
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	overflow: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.items
	display: flex
	height: 100%
	.item
		width: calc( 100% / 3 )
		z-index: 1

.product
	text-align: center
	display: block
	position: relative
	height: 40vh
	width: 100%
	bottom: -50px
	&__item
		display: flex
		width: 100%
		flex-wrap: wrap
		align-items: center
		justify-content: center
		padding: 10px
		&--right
			.product-info
				background-image: url("../img/cena_bg_right.png")
			.product__price
				left: -70px
		&--left
			.product__price
				right: -60px
		&--three
			padding: 0
			.product
				height: 50vh
				bottom: 0
				padding: 40px 0 0 0
				background: rgba(0, 0, 0, .5)
			.product-wb
				background: transparent
				padding: 0
			.logo
				max-width: 150px
	&__img
		width: 100%
		height: 90%
		background-size: contain
		background-repeat: no-repeat
		background-position: center center
		display: inline-block
		position: relative
		top: -60px
		&--wt
			top: 0
	&-info
		background-image: url("../img/cena_bg.png")
		background-repeat: no-repeat
		background-size: contain
		width: 100%
		background-position: center center
		font-size: 1.65em
		position: absolute
		bottom: 30px
	&-info2
		background-image: url("../img/page5/price.png")
		background-repeat: no-repeat
		background-size: contain
		width: 100%
		background-position: center center
		font-size: 1.65em
		position: absolute
		bottom: 30px
		right: -100px
	&__name
		color: #ffb800
		position: relative
		width: 100%
	&__price, &__price2
		position: relative
		&::after
			content: ''
			position: absolute
			top: 3px
			margin-left: 8px
			background-repeat: no-repeat
			height: 1.60em
			width: 23px
			background-image: url("../img/p.png")
			background-size: contain
			background-position: center center

.center__item
	text-align: center
	background-size: cover
	background-repeat: no-repeat
	background-position: center 0
	height: 100%
	height: 100vh
	width: 100%
	position: relative
	text-align: center
	z-index: 1
	overflow: hidden
	.heading
		position: absolute
		z-index: 20
		top: 0
		left: 50%
		transform: translateX(-50%)
		max-width: 650px

.video-cover
	position: relative
	overflow: hidden
	height: 100%
	.video
		object-fit: cover;
		width: 100%
		height: 100%

.no__bg
	.product__item--three
		.product
			background: transparent

.product__item__many
	.product
		height: 33vh
		bottom: -20px


.heading
	width: 100%
	padding: 50px
	display: inline-block
	margin: 0 auto

.logo
	width: 50%
	position: absolute
	left: 50%
	transform: translateX(-50%)
	bottom: 5%
	max-width: 180px


.bg_video
	position: absolute
	width: 100%
	height: 100%
	object-fit: cover


//price page

.price
	&__items
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
	&__column
		width: 25%
		&__bottom
			height: 30vh
			overflow: hidden
			padding: 0 5px
			img
				width: 100%
				height: 100%
				object-fit: cover
	&__group
		height: 30vh
		padding: 0 5px
		position: relative
		img
			max-height: 70px
			width: auto
			left: 50%
			transform: translateX(-50%)
			position: absolute
			padding: 0 40px
			bottom: 10%
	&__wrapper
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		max-width: 100%
		height: 40vh
		&--full
			height: 70vh
	&__el
		padding: 5px 0
		justify-content: space-between
		&__name
			font-size: 1.6em
			line-height: 1.2em
		&__price
			font-size: 1.4em
			line-height: 1.9em
			padding-top: 3px
			background-image: url('../img/page6/price.png')
			background-size: contain
			background-position: right center
			background-repeat: no-repeat
			display: inline-block
			width: 100%
			padding-right: 33px
			padding-left: 10px
			&::after
				content: ''
				position: absolute
				margin-left: 3px
				background-repeat: no-repeat
				height: 1.5em
				width: 25px
				line-height: 1.4em
				background-image: url("../img/p.png")
				background-size: 0.9em 0.9em
				background-position: center 0.5em
		&__image
			height: 2.7em
			img
				max-height: 100%
				width: auto


.dib
	display: inline-block
	vertical-align: middle
	float: none
	width: 50%
	&__wrap
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		width: 100%
		justify-content: space-between
	&-img
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		.price__el__image
			width: 50%
		.price__el__name
			width: 50%



.tar
	text-align: right


@import "media" // Всегда в конце
